body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  #episodes {
    display: inline-block;
    text-align: left;
  }
  