{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>About</h2>

            <p>This app is designed to provide an easy way for users to load and view external podcast XML feeds. Simply enter the XML feed URL and our app will handle the rest, parsing the data and presenting it in an organized and readable manner. Whether you're a podcast enthusiast or just looking for a convenient way to keep track of your favorite shows, our app is the perfect solution. Thank you for choosing Podcast Loader!</p>
        </div>
    </div>
</div>

{% endblock %}
